@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
